<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a63577.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".person_modify"></activity>
        <activity android:name=".personal" />
        <activity android:name=".fab" />
        <activity android:name=".order" />
        <activity android:name=".collection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".item_detail_page_Activity" />
        <activity android:name=".release_Activity" />
        <activity android:name=".chat_Activity" />
        <activity android:name=".authentication" />
        <activity android:name=".loginActivity" />
        <activity android:name=".MYActivity" />
        <activity android:name=".constant.Data" />
    </application>

</manifest>